.automation/test/salesforce-lfs/good/force-app/main/default/flows/DML_Statement_In_A_Loop_Fixed.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>create_case_manually</name>
        <label>create case manually</label>
        <locationX>440</locationX>
        <locationY>542</locationY>
        <actionName>FeedItem.NewTaskFromFeedItem</actionName>
        <actionType>quickAction</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>contextId</name>
            <value>
                <elementReference>aLoop.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>FeedItem.NewTaskFromFeedItem</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>58.0</apiVersion>
    <assignments>
        <description>Assigns values to newCase variable.</description>
        <name>createNewCaseAssignment</name>
        <label>createNewCaseAssignment</label>
        <locationX>264</locationX>
        <locationY>242</locationY>
        <assignmentItems>
            <assignToReference>newCase.AccountId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>aLoop.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newCase.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>aLoop.OwnerId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newCases</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>newCase</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>aLoop</targetReference>
        </connector>
    </assignments>
    <description>This flow demonstrates how to resolve a violation of the rule &quot;DML Statement In A Loop&quot;.</description>
    <environments>Default</environments>
    <interviewLabel>DML Statement In A Loop Fixed {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Fix: DML Statement In A Loop</label>
    <loops>
        <description>an example loop</description>
        <name>aLoop</name>
        <label>aLoop</label>
        <locationX>176</locationX>
        <locationY>134</locationY>
        <collectionReference>Accounts</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>createNewCaseAssignment</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>insert_cases</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>insert_cases</name>
        <label>insert cases</label>
        <locationX>176</locationX>
        <locationY>434</locationY>
        <faultConnector>
            <targetReference>create_case_manually</targetReference>
        </faultConnector>
        <inputReference>newCases</inputReference>
    </recordCreates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>aLoop</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <description>A collection of Accounts</description>
        <name>Accounts</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>newCase</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <description>Collection of New Cases</description>
        <name>newCases</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <description>a task</description>
        <name>task</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Task</objectType>
    </variables>
</Flow>