.automation/test/salesforce/bad/force-app/main/default/flows/AfterUpdate_VisitReport.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>SEnd_reminder_emailReport</name>
        <label>Send reminder email for report</label>
        <locationX>913</locationX>
        <locationY>528</locationY>
        <actionName>CRM_VSR_VisitReport__c.CRM_VST_OwnerEmailNotification</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>53.0</apiVersion>
    <constants>
        <name>emaitest</name>
        <dataType>String</dataType>
        <value>
            <stringValue>adam.ly@capgemini.com</stringValue>
        </value>
    </constants>
    <decisions>
        <name>Bypass</name>
        <label>Bypass</label>
        <locationX>338</locationX>
        <locationY>91</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>BypassFalse</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Setup.ByPass__c.ByPassAllFlows__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Setup.ByPass__c.CRM_VST_PSB003_ValidatedStatus__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ReportFilled</targetReference>
            </connector>
            <label>Bypass=False</label>
        </rules>
    </decisions>
    <decisions>
        <name>BypassTimeDependant</name>
        <label>Bypass time dependant</label>
        <locationX>1167</locationX>
        <locationY>87</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Bypass_false</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Setup.ByPass__c.ByPassAllFlows__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Setup.ByPass__c.CRM_VST_PSB003_ValidatedStatus__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Status</targetReference>
            </connector>
            <label>Bypass=false</label>
        </rules>
    </decisions>
    <decisions>
        <description>check if the report field is filled or not</description>
        <name>ReportFilled</name>
        <label>ReportFilled</label>
        <locationX>339</locationX>
        <locationY>416</locationY>
        <defaultConnectorLabel>ReportIsNull</defaultConnectorLabel>
        <rules>
            <name>ReportIsNotNull</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.CRM_Report__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.CRM_CountryAffiliation__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>FR</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>VisitReportStatusUpdate</targetReference>
            </connector>
            <label>ReportIsNotNull</label>
        </rules>
    </decisions>
    <decisions>
        <name>Status</name>
        <label>Status</label>
        <locationX>1024</locationX>
        <locationY>325</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Not_Validated</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.CRM_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>To_Be_Completed</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SEnd_reminder_emailReport</targetReference>
            </connector>
            <label>Not Validated</label>
        </rules>
    </decisions>
    <formulas>
        <name>ReportAfterTwoDays</name>
        <dataType>Date</dataType>
        <expression>{!$Flow.CurrentDate} - 2</expression>
    </formulas>
    <interviewLabel>AfterUpdate_VisitReport {!$Flow.CurrentDateTime}</interviewLabel>
    <label>AfterUpdate_VisitReport</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>VisitReportStatusUpdate</name>
        <label>Visit Report Status Update</label>
        <locationX>50</locationX>
        <locationY>412</locationY>
        <inputAssignments>
            <field>CRM_Status__c</field>
            <value>
                <stringValue>Validated</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>686</locationX>
        <locationY>3</locationY>
        <connector>
            <targetReference>Bypass</targetReference>
        </connector>
        <object>CRM_VSR_VisitReport__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <scheduledPaths>
            <name>TimeDependant</name>
            <connector>
                <targetReference>BypassTimeDependant</targetReference>
            </connector>
            <label>TimeDependant</label>
            <offsetNumber>2</offsetNumber>
            <offsetUnit>Days</offsetUnit>
            <recordField>CRM_EventDate__c</recordField>
            <timeSource>RecordField</timeSource>
        </scheduledPaths>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Draft</status>
</Flow>
